<initialScreen></initialScreen>
<blockContent Titulo="Sobre mi"><aboutme></aboutme></blockContent>
<blockContent Titulo="Experiencia Laboral"
  ><h1>Experiencia laboral</h1></blockContent
>
<blockContent Titulo="Tecnologias y abilidades"
  ><h1>tecnlogias y habilidades</h1></blockContent
>
<blockContent Titulo="proyectos"><h1>Proyectos</h1></blockContent>
<blockContent Titulo="Educacion"><h1>Educacion</h1></blockContent>
<blockContent Titulo="Blog"><h1>Educacion</h1></blockContent>
<blockContent><h1>contacto final</h1></blockContent>
