<div class="flex w-full bg-black h-[35rem]">
  <div class="w-1/2 bg-white h-full text-black">
    <span>Slider</span>
  </div>
  <div class="w-1/2 bg-white h-full">
    <div class="h-1/4 bg-red-300 w-full flex justify-center">
      <div class="w-3/4 bg-yellow-500 flex justify-center items-center">
        <div>
          <h2>Titulo</h2>
          <h3>Subtitulo</h3>
        </div>
      </div>
    </div>
    <div class="h-3/4 bg-blue-300 w-full flex justify-center">
      <div class="w-3/4 bg-gray-500">
        <span>Descripcion</span>
      </div>
    </div>
  </div>
</div>
